
<session-list>
</session-list>
<!--



<div class="row">
  <div class="col-md-8">
    <div class="clientss" *ngIf="clientList">
      <table class="table">

        <thead class="h">
          <tr class="h">
            <th class="h">Name</th>
            <th class="h">Type</th>
            <th class="h">GUID</th>
            <th class="h text-center">Options</th>
          </tr>
        </thead>

        <tbody class="xkcd">
          <tr class="client" (dblclick)="editClient(client)" *ngFor="let client of clientList">

            <ng-container *ngIf="!editClients.includes(client); else editTemplate">
              <td>{{client.name}}</td>
              <td>{{client.type}}</td>
              <td>{{client.guid}}</td>
            </ng-container>

            <ng-template #editTemplate>
              <td><input type="text" name="name"    id="editName"    (keypress)="submitClient($event, client)"
                         [(ngModel)]="client.name"    placeholder="Name"    class="form-control"></td>
              <td><input type="text" name="type" id="edittype" (keypress)="submitClient($event, client)"
                         [(ngModel)]="client.type" placeholder="type" class="form-control"></td>
              <td><input type="text" name="guid"    id="editGUID"    (keypress)="submitClient($event, client)"
                         [(ngModel)]="client.guid"    placeholder="GUID"    class="form-control"></td>
            </ng-template>

            <td class="o nobreak text-center">
              <button class="btn btn-primary" (click)="editClient(client)"><i class="fa fa-pencil"></i></button>
              <button class="btn btn-danger" (click)="deleteClient(client)"><i class="fa fa-trash"></i></button>
            </td>
          </tr>

          <tr>
            <td><input type="text" name="name"    id="newName"
                        [(ngModel)]="newClient.name"    placeholder="Name"    class="form-control"></td>
            <td><input type="text" name="type" id="newtype"
                        [(ngModel)]="newClient.type" placeholder="type" class="form-control"></td>
            <td><input type="text" name="guid"    id="newGUID"
                        [(ngModel)]="newClient.guid"    placeholder="GUID"    class="form-control"></td>
            <td class="text-center"><button type="submit" class="btn btn-primary"
                        (click)="createClient()">ADD</button></td>
          </tr>
        </tbody>

      </table>
    </div>
  </div>
</div>
-->