<table class="full-width" cellspacing="1"><tr>
    <td class="client-name-cell"><div>
        <h4  *ngIf="!editing" (dblclick)="edit();" class="client-name">{{model.name}}</h4>
        <input *ngIf="editing" name="name" (keyup)="submit($event)" [(ngModel)]="model.name" placeholder="Client Name" class="edit-client-name form-control">
        <h5  *ngIf="!editing" (dblclick)="edit();" class="client-type">{{model.type}}</h5>
        <input *ngIf="editing" name="type" (keyup)="submit($event)" [(ngModel)]="model.type" placeholder="Client Type" class="edit-client-type form-control">
    </div></td>
     <td>
         <div class="client-guid"><div class="client-guid-inner"><table class="full-height full-width"><tr><td>{{model.guid | formatGUID }}</td></tr></table></div></div>
     </td>
    <td valign="top"><div class="client-details">
            <h6>Sender</h6>
            <ng-container *ngFor="let socket of model.sockets">
              <div *ngIf="socket.role=='sender'">
                <div socketview class="h socket-details" [client]="client" [model]="socket"></div>
              </div>
            </ng-container>
    </div></td>
    <td valign="top"><div class="client-details">
            <h6>Receiver</h6>
            <ng-container *ngFor="let socket of model.sockets">
              <div *ngIf="socket.role=='receiver'">
                <div socketview class="h socket-details" [client]="client" [model]="socket"></div>
              </div>
            </ng-container>
    </div></td>
    <td class="text-right client-button-cell"><div>
        <div class="button-float">
            <button class="btn btn-outline-info" role="button" (click)="edit()">
                <i class="fa fa-pencil"></i>
            </button>
        </div>

        <div *ngIf="!session.isUnassigned" class="button-float">
            <button class="btn btn-outline-primary" role="button" (click)="unassign()">
                <i class="fa fa-level-down"></i>
            </button>
        </div>

        <div *ngIf="session.isUnassigned" class="show button-float">
            <button class="btn btn-outline-primary"  href="#" role="button" data-toggle="dropdown">
                <i class="fa fa-level-up"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right">
                <button *ngFor="let session of sessions" (click)="assign(session)" class="dropdown-item" type="button">
                    {{session.name}}
                </button>
            </div>
        </div>
    
        <div *ngIf="session.isUnassigned" class="button-float">
            <button class="btn btn-outline-danger" (click)="delete();" href="#" role="button">
                <i class="fa fa-trash"></i>
            </button>
        </div>
    </div></td>
    <div class="clearleft"></div>
</tr></table>
